{{ $permalink := .Permalink }}
<div class="card item">
  {{ if isset .Params "featured_image" }}
  {{ $featured_image := .Params.featured_image }}
  {{ $image_url := printf "%s%s" .Site.Params.cloudflare_images $featured_image }}
  <img
    src="{{ $image_url }}/w=1200,gamma=0.4,quality=50"
    alt=""
    class="card-image"
  />
  {{end}}
  <div class="card-content">
    <h2>{{ .Title }}</h2>
    <p>{{ .Description }}</p>
    <a href="{{ .Permalink }}" class="button before:absolute before:inset-0">
      Read the article
    </a>
  </div>
</div>