<div class="tags">
  <span class="tag"
    ><a href="https://www.twitter.com/donaldjenkins" title="Donald's Twitter account">{{ partial "icons/twitter.html" . }}&thinsp;Twitter</a></span
  >
  <span class="tag"><a href="https://github.com/donaldjenkins" title="Donald's Github account">{{ partial "icons/github.html" . }}&thinsp;Github</a></span>
  <span class="tag"
    ><a href="https://instagram.com/donaldjenkins_/" title="Donald's Instagram account">{{ partial "icons/instagram.html" . }}&thinsp;Instagram</a></span
  >
  <span class="tag"><a href="https://jenkins.social/@donald" title="Donald's Mastodon account">{{ partial "icons/mastodon.html" . }}&thinsp;Mastodon</a></span>
  <span class="tag"
    ><a href="https://www.linkedin.com/in/donaldjenkins" title="Donald's LinkedIn account">{{ partial "icons/linkedin.html" . }}&thinsp;Linkedin</a></span
  >
  <span class="tag"
    ><a href="https://www.flickr.com/photos/astorg" title="Donald's Flickr account">{{ partial "icons/flickr.html" . }}&thinsp;Flickr</a></span
  >
  <span class="tag"><a href="/contact" title="Send a message">{{ partial "icons/contact.html" . }}&thinsp;Contact</a></span>
</div>