<div class="tags">
  <span class="tag"
    ><a href="https://www.twitter.com/donaldjenkins">{{ partial "icons/twitter.html" . }}&thinsp;Twitter</a></span
  >
  <span class="tag"><a href="https://github.com/donaldjenkins">{{ partial "icons/github.html" . }}&thinsp;Github</a></span>
  <span class="tag"
    ><a href="https://instagram.com/donaldjenkins_/">{{ partial "icons/instagram.html" . }}&thinsp;Instagram</a></span
  >
  <span class="tag"><a href="https://jenkins.social/@donald">{{ partial "icons/mastodon.html" . }}&thinsp;Mastodon</a></span>
  <span class="tag"
    ><a href="https://www.linkedin.com/in/donaldjenkins">{{ partial "icons/linkedin.html" . }}&thinsp;Linkedin</a></span
  >
  <span class="tag"
    ><a href="https://www.flickr.com/photos/astorg">{{ partial "icons/flickr.html" . }}&thinsp;Flickr</a></span
  >
  <span class="tag"><a href="/contact">{{ partial "icons/contact.html" . }}&thinsp;Contact</a></span>
</div>