{{/* Content Security Policy | Source:
https://developers.cloudflare.com/fundamentals/get-started/reference/content-security-policies/
*/}}
<!-- <meta
  http-equiv="Content-Security-Policy"
  content="block-all-mixed-content;
  default-src 'self';
  script-src 'report-sample' 'self' ajax.cloudflare.com player.vimeo.com;
  style-src 'report-sample' 'self' 'unsafe-inline';
  object-src 'none';
  connect-src 'self';
  font-src 'self';
  frame-src 'self' videodelivery.net *.cloudflarestream.com;
  child-src 'self';
  img-src 'self' www.donaldjenkins.com/cdn-cgi/imagedelivery/L0HrrfgxmX01pIlKW6n82w/;
  manifest-src 'self';
  form-action 'self';
  media-src 'self' videodelivery.net *.cloudflarestream.com; img-src 'self' *.videodelivery.net *.cloudflarestream.com; connect-src 'self' *.videodelivery.net *.cloudflarestream.com;
  worker-src 'none';"
/> -->
