{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context":"https://schema.org",
    "@type":"WebPage",
    "url":"https://www.donaldjenkins.com/",
    "@id":"https://www.donaldjenkins.com/#statement",
    "name":"{{ site.Title }}",
    "description":"{{ site.Params.description }}",
    "inLanguage":"en-GB",
    "mainEntity":{
        "@type":"WebSite",
        "name":"{{ site.Title }}",
        "url":"https://www.donaldjenkins.com/",
        "@id":"https://www.donaldjenkins.com/#statement",
        "about":{
            "@type":"Thing",
            "name":"writer"
        },
        "publisher":{
            "@type": "Person",
              "name": "Donald Jenkins",
              "givenName": "Donald",
              "familyName": "Jenkins",
              "description": "{{ .Params.description }}",
              "url": "https://www.donaldjenkins.com/",
              "image": "https://www.donaldjenkins.com/opengraph.png",
              "sameAs": [
              "https://www.facebook.com/donaldjenkins",
              "https://www.twitter.com/donaldjenkins",
              "https://instagram.com/donaldjenkins_/",
              "https://www.flickr.com/photos/astorg",
              "https://www.linkedin.com/in/donaldjenkins",
              "https://dribbble.com/donaldjenkins",
              "https://www.wikidata.org/wiki/Q49164221"
              ],
              "alumniOf": [ {
               "@type": "OrganizationRole",
               "alumniOf": {
                "@type": "CollegeOrUniversity",
                "name": "Magdalen College, Oxford",
                "sameAs": "http://www.magd.ox.ac.uk"
                },
               "roleName": "MA"
             }, {
               "@type": "OrganizationRole",
               "alumniOf": {
                "@type": "CollegeOrUniversity",
                "name": "École nationale d'administration",
                "sameAs": "https://www.ena.fr/eng/"
                },
               "roleName": "Government"
              }
              ],
              "jobTitle": "CEO",
              "worksFor": {
              "@type": "Organization",
              "name": "Policymakr, Inc.",
              "url" : "https://www.policymakr.com",
              "slogan": "Shape world policy",
              "foundingDate": "2018-12-14",
              "location": {
                "@type": "PostalAddress",
                  "name":"Wall Street",
                  "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "99 Wall Street",
                    "addressLocality": "New York",
                    "addressRegion": "NY",
                    "postalCode": "10005",
                    "addressCountry": "USA"
              }
              } 
            }
          
        }
    }
}
</script>
{{ else if (eq .Section "articles") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ if .Params.seoTitle }}{{ .Params.seoTitle }}{{ else }}{{ .Title }}{{ end }}",
  "image": [
    "https://www.donaldjenkins.com/opengraph.png"
   ],
  "datePublished": "{{ .PublishDate.Format "RFC3339" }}",
  "dateModified": "{{ .Lastmod.Format "RFC3339" }}",
  "author": [{
      "@type": "Person",
        "name": "Donald Jenkins",
        "givenName": "Donald",
        "familyName": "Jenkins",
        "description": "{{ .Params.description }}",
        "url": "https://www.donaldjenkins.com/",
        "image": "https://www.donaldjenkins.com/opengraph.png",
        "sameAs": [
        "https://www.facebook.com/donaldjenkins",
        "https://www.twitter.com/donaldjenkins",
        "https://instagram.com/donaldjenkins_/",
        "https://www.flickr.com/photos/astorg",
        "https://www.linkedin.com/in/donaldjenkins",
        "https://dribbble.com/donaldjenkins",
        "https://www.wikidata.org/wiki/Q49164221"
        ],
        "alumniOf": [ {
         "@type": "OrganizationRole",
         "alumniOf": {
          "@type": "CollegeOrUniversity",
          "name": "Magdalen College, Oxford",
          "sameAs": "http://www.magd.ox.ac.uk"
          },
         "roleName": "MA"
       }, {
         "@type": "OrganizationRole",
         "alumniOf": {
          "@type": "CollegeOrUniversity",
          "name": "École nationale d'administration",
          "sameAs": "https://www.ena.fr/eng/"
          },
         "roleName": "Government"
        }
        ],
        "jobTitle": "CEO",
        "worksFor": {
        "@type": "Organization",
        "name": "Policymakr, Inc.",
        "url" : "https://www.policymakr.com",
        "slogan": "Shape world policy",
        "foundingDate": "2018-12-14",
        "location": {
          "@type": "PostalAddress",
            "name":"Wall Street",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "99 Wall Street",
              "addressLocality": "New York",
              "addressRegion": "NY",
              "postalCode": "10005",
              "addressCountry": "USA"
        }
        } 
      }
    }]
}
</script>
{{ end }}
