// -----------------------------------------------------------------------------
// This file contains all styles related to lists.
// -----------------------------------------------------------------------------

/**
 * Basic styles for lists
 */

.bullet ul,
.bullet li,
.bullet ol {
  margin-left: 3vw;
}

ul {
  list-style: none;
}

.bullet-list ol {
  margin-bottom: 1rem;
  line-height: 50%;
}

.bullet li {
  margin-bottom: 1rem;
  line-height: 50%;
  
  &::marker {
    color: $brand-color;
  }
  
  &::before {
    content: "\25AA";
    color: $brand-color;
    font-weight: bold;
    font-variation-settings: "wght"$black-font;
    display: inline-block;
    width: 0.75em;
    margin-left: -1em;
  }
  
}

/**
 * Bulma lists
 */
/* Source: https://github.com/bluefantail/bulma-list/blob/main/css/bulma-list.css */

.list {
  color: $font-color;
  flex-direction: column;
  display: flex
}

.list-item-content {
  min-width: 0;
  max-width: calc(var(--length)*1ch);
  font-size: 0.875rem
}

.list-item-content>* {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}


.list-item:not(.box) {
  padding: .75em
}

.list-item:not(:last-child):not(.box) {
  border-bottom: 1px solid $concrete
}


@include mq($until: tablet){
  .list-item-image {
    padding: .5rem 0
  }
}

.list-item-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex
}

@include mq($until: tablet){
  .list-item-content {
    padding: .5rem 0
  }
}

.list-item-title {
  color: $font-color;
  font-weight: 600;
  font-variation-settings: "wght" 600
}

.list-item-description {
  color: $font-color
}
