@charset "UTF-8";
@import '../../node_modules/simpledotcss/simple.min.css';
@font-face {
  font-family: "Commissioner";
  src: url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2") tech("variations"), url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: $family-primary;
  --mono-font: $family-monospace
  --standard-border-radius: $standard-border-radius;
  /* Default (light) theme */
  --bg: $bg;
  --accent-bg: $accent-bg;
  --text: $text;
  --text-light: $text-light;
  --border: $border;
  --accent: $accent;
  --code: $code;
  --preformatted: $preformatted;
  --marked: $marked;
  --disabled: $disabled;
  /* Responsive font sizes */
  font-size: 18px;
  font-weight: 345;
  font-variation-settings: "wght" 345;
  letter-spacing: -0.02em;
  --font-size-1: clamp(2rem, 1.25rem + 3.1579vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.15rem + 2.7368vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.1rem + 2.1053vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1rem + 1.6842vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 0.95rem + 1.0526vw, 1.45rem);
  --font-size-6: clamp(1.1rem, 0.45rem + 1.8947vw, 1.35rem);
  --font-size-body: clamp(1rem, 0.45rem + 1.6842vw, 1.17rem);
}

body {
  margin: 0;
  font-family: var(--sans-font);
  font-size: var(--font-size-body);
}

body,
.content {
  font-family: "Commissioner", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 345;
  font-variation-settings: "wght" 345;
  line-height: 1.5;
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  color: hsl(111, 0%, 34%);
}

p {
  font-weight: 345;
  font-variation-settings: "wght" 345;
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-5);
}

h6 {
  font-size: var(--font-size-6);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 138;
  font-variation-settings: "wght" 138;
  font-stretch: 95%;
  font-variation-settings: "wdth" 95;
}

#legal * {
  font-weight: 138;
  font-variation-settings: "wght" 138;
}

/* Overrides ../../node_modules/simpledotcss/simple.min.css */
figure#logo {
  margin-left: -0.5rem;
}

button,
[role=button],
input[type=submit],
input[type=reset],
input[type=button],
label[type=button],
.button {
  all: unset;
  display: inline-block;
  border-radius: 4px;
  background-color: hsl(56, 16%, 54%);
  border: none;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: var(--font-size-body);
  padding: 1rem;
  cursor: pointer;
  margin: 0.3rem;
}

header,
main,
#navbar {
  width: calc(100% - 12vw);
  max-width: 640px;
  margin: 0 auto;
}

body .content {
  font-family: "Commissioner", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  color: hsl(111, 0%, 34%);
}

main {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}

footer {
  padding: 0 0 2rem;
}

.dark {
  background-color: hsl(111, 0%, 34%);
  color: hsl(0, 0%, 100%);
}

.dark:a {
  color: #dddcd0;
}

.dark a:hover {
  color: #aab7c0;
}

.primary {
  background-color: hsl(56, 16%, 54%);
  color: hsl(0, 0%, 100%);
}

.primary:hover {
  background-color: #82805e;
  color: hsl(0, 0%, 100%);
}

.secondary {
  background-color: hsl(205, 15%, 41%);
  color: hsl(0, 0%, 100%);
}

.secondary:hover {
  background-color: #43515b;
  color: hsl(0, 0%, 100%);
}

#menu {
  background-color: #ffffff;
  display: flex;
  position: relative;
}

#logo {
  margin-top: 5.5vh;
}

ul {
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}

#menu li a {
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  text-decoration: none;
  font-size: var(--font-size-body);
  font-weight: 138;
  font-variation-settings: "wght" 138;
  font-stretch: 95%;
  font-variation-settings: "wdth" 95;
  font-family: sans-serif;
}

#menu li a:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

#menu input {
  --s: 0.2rem; /* control the size */
  border: none;
  background: none;
  padding: 0;
  margin: calc(2 * var(--s)) 0;
  cursor: pointer;
  height: var(--s);
  aspect-ratio: 5/1;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  top: 6vh;
  right: 5vh;
  transition: 0.5s;
  box-shadow: 0 calc(2 * var(--s)) 0 hsl(111, 0%, 34%), 0 calc(-2 * var(--s)) 0 hsl(111, 0%, 34%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#menu input:before,
#menu input:after {
  content: "";
  position: absolute;
  inset: calc(-2 * var(--s)) 0;
  transition: 0.4s;
  background: radial-gradient(farthest-side, hsl(111, 0%, 34%) 98%, rgba(0, 0, 0, 0)) 0/var(--s) var(--s) repeat-x, linear-gradient(hsl(111, 0%, 34%) 0 0) 50%/calc(100% - var(--s)) var(--s) no-repeat;
}

#menu input:focus-visible {
  outline: none;
}

#menu input:focus-visible::before {
  outline: 1px solid;
  outline-offset: 5px;
}

#menu input:hover {
  box-shadow: 0 calc(1.6 * var(--s)) 0 hsl(111, 0%, 34%), 0 calc(-1.6 * var(--s)) 0 hsl(111, 0%, 34%);
}

#menu input:checked {
  box-shadow: 0 calc(6 * var(--s)) 0 rgba(0, 0, 0, 0), 0 calc(-6 * var(--s)) 0 rgba(0, 0, 0, 0);
}

#menu input:checked::before,
#menu input:checked::after {
  transform: rotate(45deg);
  transition: 0.6s 0.1s;
}

#menu input:checked::after {
  transform: rotate(-45deg);
}

@media (min-width: 600px) {
  #menu input {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  }
}
@media (max-width: 600px) {
  #menu ul {
    position: fixed;
    background-color: rgba(37, 37, 37, 0.5960784314);
    /*-- The value after six digit is your alpha color or opacity of background.--*/
    background-color: rgba(34, 34, 85, 0.6); /*-- Same as previous one.--*/
    background-color: rgba(37, 37, 37, 0.6); /*-- a extend for alpha color--*/
    flex-direction: column;
    inset: 0 0 0;
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.3s;
  }
  #menu .primary {
    background-color: #c3c2ac;
  }
  #menu .secondary {
    background-color: #8799a6;
  }
  #menu input {
    display: grid;
    z-index: 3;
    top: 8.1vh;
  }
  #menu input:checked + ul {
    transform: translate(0);
    opacity: 1;
  }
}
a {
  color: #b2b095;
  font-weight: 576.15;
  font-variation-settings: "wght" 576.15;
  text-decoration: none;
}

@media (max-width: 480px) {
  a {
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}
a:hover {
  color: hsl(205, 15%, 41%);
  text-decoration: underline;
  text-decoration-style: dotted;
}

em,
.quote {
  font-variation-settings: "slnt" 14;
}

strong,
b {
  font-variation-settings: "wght" 576.15;
}

.content figure {
  margin-left: 0;
  margin-right: 0;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

img, picture {
  border-radius: 1.5%;
}

.icon, .small-icon {
  color: hsl(111, 0%, 34%);
  vertical-align: -0.125em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.small-icon {
  width: 1em;
  height: 1em;
}

.icon:hover {
  color: hsl(205, 15%, 41%);
}

.meta {
  color: hsl(56, 16%, 54%);
  font-weight: 576.15;
  font-variation-settings: "wght" 576.15;
}

/* Source: https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element*/
.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(101%) contrast(103%);
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(101%) contrast(103%);
}

.filter-white:hover,
.navbar-item img:hover,
.navbar-burger:hover {
  filter: invert(61%) sepia(22%) saturate(284%) hue-rotate(161deg) brightness(97%) contrast(84%);
}

/* Lists
--------------------------------------------------------------------------------------------- */
.bullet ul,
.bullet li,
.bullet ol {
  margin-left: 3vw;
}

ul {
  list-style: none;
}

.bullet li,
.bullet-list ol {
  margin-bottom: 1rem;
  line-height: 50%;
}

.bullet li::marker {
  color: #437daa;
}

.bullet li::before {
  content: "▪";
  color: hsl(56, 16%, 54%);
  font-weight: bold;
  font-variation-settings: "wght" 748.995;
  display: inline-block;
  width: 0.75em;
  margin-left: -1em;
}

.is-fullheight {
  height: 100%;
  flex-direction: column;
}

.fullheight-container {
  display: flex;
  align-items: stretch;
}

/* Blockquotes & citations */
.content blockquote {
  background-color: inherit;
  border-left: none;
  padding: 1.75em 1.5em 1.25em;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: hsl(117, 0%, 94%);
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before {
  content: "“";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "Quicksand", sans-serif;
  color: hsl(111, 0%, 34%);
  text-align: center;
}

blockquote:after {
  content: "– " attr(cite);
  display: block;
  text-align: right;
  color: hsl(56, 16%, 54%);
}

.attribution,
.attribution p {
  text-align: right;
  color: hsl(56, 16%, 54%);
}

.caption,
.figcaption,
.photo-credit,
.meta,
.meta * {
  font-size: 0.75rem;
}

.caption,
.photo-credit {
  text-align: right;
}

.figcaption {
  text-align: center;
}

.quote {
  font-size: inherit;
  font-style: italic;
}

figure blockquote {
  margin-bottom: 0;
  text-align: left;
  padding-bottom: 1%;
}

.quote-source {
  padding: 1% 0 5%;
  text-align: right;
}

.quote-source::before {
  content: "— ";
}

.quote-source::after {
  content: ".";
}

:lang(en) > q {
  quotes: "‘" "’" "“" "”";
}

:lang(fr) > q {
  quotes: "« " " »" "“" "”";
}

.meta {
  margin-bottom: 1.25em;
  line-height: 1.25em;
}

ul.meta {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.meta li {
  padding-top: 0.5rem;
}

.meta li::before {
  content: "·";
  margin-right: 1ch;
  margin-left: -1ch;
}

.meta li:first-child:before {
  content: "";
  margin-right: 0;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

.h1,
h2,
h3,
h4,
h5,
h6,
title {
  line-height: 1;
}

/* Footnotes
--------------------------------------------------------------------------------------------- */
.footnotes hr {
  border: none;
  height: 2px;
  background: hsl(117, 0%, 94%);
  max-width: 20%;
}

.footnotes {
  font-size: 0.875rem;
}

.footnote-ref {
  color: hsl(0, 0%, 100%);
  background-color: #54a067;
  padding: 1px 2px 1px;
}

.footnote-ref:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(8, 96%, 63%);
  padding: 1px 2px 1px;
}

/* Lists
--------------------------------------------------------------------------------------------- */
/* Source: https://github.com/bluefantail/bulma-list/blob/main/css/bulma-list.css */
.list {
  color: hsl(111, 0%, 34%);
  flex-direction: column;
  display: flex;
}

.list-item-content {
  min-width: 0;
  max-width: calc(var(--length) * 1ch);
  font-size: 0.875rem;
}

.list-item-content > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-item:not(.box) {
  padding: 0.75em;
}

.list-item:not(:last-child):not(.box) {
  border-bottom: 1px solid hsl(117, 0%, 94%);
}

@media screen and (max-width: 768px) {
  .list-item-image {
    padding: 0.5rem 0;
  }
}
.list-item-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

@media screen and (max-width: 768px) {
  .list-item-content {
    padding: 0.5rem 0;
  }
}
.list-item-title {
  color: hsl(111, 0%, 34%);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.list-item-description {
  color: hsl(111, 0%, 34%);
}

/* Footer
--------------------------------------------------------------------------------------------- */
#social {
  padding-top: 3.5vh;
  margin-bottom: 1.2vh;
}

footer p {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0.5em;
  text-align: center;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

footer li {
  padding: 0 1rem;
}

.contact {
  margin: 0;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  padding: 0 0 6vh;
}

.content-box {
  margin: 1vh 0 0;
}

.contact-form,
.contact-form textarea,
.contact-form input {
  width: calc(100% - 0.25vw);
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  font-family: "Commissioner", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

textarea::placeholder,
input::placeholder {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}

.contact-form textarea,
.contact-form input {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px hsl(0, 0%, 100%) solid;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  background-color: transparent;
  resize: none;
  padding: 2px;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}

.contact-form textarea {
  margin-top: 1.7vh;
  height: 6vh;
}

.contact-form input {
  display: none;
  margin-top: 3vh;
}

.contact-form textarea:focus,
.contact-form input:focus {
  outline: 0;
  border-bottom: 1px hsl(0, 0%, 100%) solid;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact-form.focused textarea,
.contact-form:focus textarea {
  box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 120px;
}

::-webkit-input-placeholder {
  color: hsl(0, 0%, 100%);
}

#send {
  display: none;
  margin-top: 20px;
  margin-right: -1px;
  background: hsl(111, 0%, 34%);
  padding: 4px 12px 6px;
  float: right;
  color: hsl(0, 0%, 100%);
}

#send:hover {
  background: hsl(0, 0%, 100%);
}

.contact-form.focused #send,
.contact-form.focused input {
  display: inline-block;
}

.contact-form.focused #contact-form-error {
  display: none;
}

#contact-form-error {
  margin-right: 20px;
  display: inline-block;
  color: hsl(8, 96%, 63%);
}

.contact-form.focused #contact-form-error:empty {
  display: inline-block;
  min-width: 194px;
  text-align: left;
  padding: 0;
}
