// Brand colors
$gurkha: #9c9a75;
$horizon: #889ca6;
$tin: #7f7f7f;
$davys-gray: #575757;
$concrete: #f0f0f0;
$fuzzy-wuzzy-brown: #c75757;
$baja-white: #fff7d1;
$eton-blue: #96c8a2;
$tomato: #dd3333;

// Bulma colors
$white-bis: hsl(0, 0%, 98%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black-bis: hsl(0, 0%, 7%);

// Set derived colors
$primary: $gurkha !default;
$primary-hover: lighten ($primary, 30%) !default;
$link: $primary !default;
$link-visited: $fuzzy-wuzzy-brown !default;
$link-hover: darken($link, 10%) !default;
$link-focus-border: $tin;

$white: hsl(0deg, 0%, 100%); //white=transparent
$black: $davys-gray;
$grey-dark: $davys-gray;
// $grey-light: $beige-light;
$background: $white;
$scheme-main-bis: $grey-dark;
$body-background-color: $white;

// Update Bulma's global variables
$family-sans-serif: "Commissioner", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe Ui", "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto", "Noto", "Arial", Sans-Serif;
$family-monospace: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
$family-code: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

$info: lighten($primary, 10%) !default;
$warning: darken($baja-white, 15%) !default;
$success: darken($eton-blue, 10%) !default;
$danger: $tomato !default;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$primary-light: lighten($primary, 40%);
$link-light: lighten($link, 40%);
$footer-background-color: $davys-gray;
$footer-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom variables
$title-color: $davys-gray;
$subtitle-color: lighten($title-color, 10%);
$text-on-dark: darken($concrete, 27%);

// Customize pico colors

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: $primary;
  --primary-hover: lighten (--primary, 30%);
  --primary-inverse: $white;
}