// Definitions

$normal-font: 344;
$bold-font: calc($normal-font * 1.4);
$black-font: calc($normal-font * 1.6);
$heading-font: calc($normal-font * 0.4);



@font-face {
  font-family: "Commissioner";
  src: url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2") tech("variations"),
      url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


:root {
// Typography
  --font-family: "Commissioner", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  --font-weight: $normal-font;
  --font-variation-settings: "wght" $normal-font;
}

@media (max-width: 768px) {
  :root {
    --font-weight: calc($normal-font * 1.2);
    --font-variation-settings: "wght" $bold-font;
  }
}