// Brand colors
$gurkha: hsl(56, 16%, 54%);
$horizon: $grey-600;
$tin: hsl(116, 0%, 50%);
$davys-gray: hsl(111, 0%, 34%);
$concrete: hsl(117, 0%, 94%);
$fuzzy-wuzzy-brown: hsl(0, 50%, 56%);
$baja-white: hsl(49, 100%, 91%);
$eton-blue: hsl(135, 31%, 68%);
$tomato: hsl(8, 96%, 63%);

// Bulma colors
$white-bis: hsl(0, 0%, 98%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black-bis: hsl(0, 0%, 7%);

// Set derived colors
$primary: $gurkha !default;
$primary-hover: lighten ($primary, 30%) !default;
$link: $primary !default;
$link-visited: $fuzzy-wuzzy-brown !default;
$link-hover: darken($link, 10%) !default;
$link-focus-border: $tin;

$white: hsl(0deg, 0%, 100%); //white=transparent
$black: $davys-gray;
$grey-dark: $davys-gray;
// $grey-light: $beige-light;
$background: $white;
$scheme-main-bis: $grey-dark;
$body-background-color: $white;

// Update Bulma's global variables
$family-sans-serif: "Commissioner", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe Ui", "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto", "Noto", "Arial", Sans-Serif;
$family-monospace: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
$family-code: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

$info: lighten($primary, 10%) !default;
$warning: darken($baja-white, 15%) !default;
$success: darken($eton-blue, 10%) !default;
$danger: $tomato !default;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$primary-light: lighten($primary, 40%);
$link-light: lighten($link, 40%);
$footer-background-color: $davys-gray;
$footer-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom variables
$title-color: $davys-gray;
$subtitle-color: lighten($title-color, 10%);
$text-on-dark: darken($concrete, 27%);
$font-color: $davys-gray;

// Customize pico colors
$primary-50: hsl(56, 16%, 98%) !default;
$primary-100: hsl(56, 16%, 93%) !default;
$primary-200: hsl(56, 16%, 88%) !default;
$primary-300: hsl(56, 16%, 81%) !default;
$primary-400: hsl(56, 16%, 73%) !default;
$primary-500: hsl(56, 16%, 67%) !default;
$primary-600: hsl(56, 16%, 54%) !default;
$primary-700: hsl(56, 16%, 37%) !default;
$primary-800: hsl(56, 95%, 23%) !default;
$primary-900: hsl(56, 100%, 15%) !default;

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: $primary;
  --primary-hover: lighten (--primary, 30%);
  --primary-inverse: $white;
  --color: $font-color;
  --h1-color: darken($font-color, 30%);
  --h2-color: darken($font-color, 25%);
  --h3-color: darken($font-color, 20%);
  --h4-color: darken($font-color, 15%);
  --h5-color: darken($font-color, 10%);
  --h6-color: darken($font-color, 5%);
  }