// Definitions
$font-size: 18px;
$small-font: calc($font-size * 0.85);
$smallest-font: calc($font-size * 0.65);
$normal-font: 345;
$bold-font: calc($normal-font * 1.67);
$black-font: calc($bold-font * 1.3);
$heading-font: calc($normal-font * 0.4);
$thin-font: 100;

@font-face {
  font-family: "Commissioner";
  src: url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2") tech("variations"),
      url("{{ .Site.BaseURL }}fonts/commissioner-variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

$family-sans-serif: "Commissioner", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
"Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji";
$family-monospace: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
$family-code: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: $family-primary;
  --mono-font: $family-monospace
  --standard-border-radius: $standard-border-radius;

  /* Default (light) theme */
  --bg: $bg;
  --accent-bg: $accent-bg;
  --text: $text;
  --text-light: $text-light;
  --border: $border;
  --accent: $accent;
  --code: $code;
  --preformatted: $preformatted;
  --marked: $marked;
  --disabled: $disabled;
  
  /* Responsive font sizes */
  font-size: $font-size;
  font-weight: $normal-font;
  font-variation-settings: "wght" $normal-font;
  letter-spacing: -0.02em;
  --font-size-1: clamp(2rem, 1.25rem + 3.1579vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.15rem + 2.7368vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.1rem + 2.1053vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1rem + 1.6842vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 0.95rem + 1.0526vw, 1.45rem);
  --font-size-6: clamp(1.1rem, 0.45rem + 1.8947vw, 1.35rem);
  --font-size-body: clamp(1rem, 0.45rem + 1.6842vw, 1.17rem);
}

body {
  margin: 0;
  font-family: var(--sans-font);
  font-size: var(--font-size-body);
}

body,
.content {
  font-family: $family-primary;
  font-weight: $normal-font;
  font-variation-settings: "wght" $normal-font;
  line-height: 1.5;  
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  color: $font-color;
}

p {
  font-weight: $normal-font;
  font-variation-settings: "wght" $normal-font;  
}

h1 {
  font-size: var(--font-size-1);  
}

h2 {
  font-size: var(--font-size-2);  
}

h3 {
  font-size: var(--font-size-3);  
}

h4 {
  font-size: var(--font-size-4);  
}

h5 {
  font-size: var(--font-size-5);  
}


h6 {
  font-size: var(--font-size-6);  
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: $heading-font;
  font-variation-settings: "wght" $heading-font;
  font-stretch: 95%;
  font-variation-settings: "wdth" 95;
  letter-spacing: -0.035em;
}

/* Italics | Source: https://variablefonts.io/about-variable-fonts/ */

:root {
--text-slnt: 0;
}

body {
  font-variation-settings: 'slnt' var(--text-slnt);  
}

em {
    --text-slnt: 12;
    font-style: oblique 12deg;
}

small {
  font-size: $small-font;
  font-weight: $bold-font;
  font-variation-settings: "wght" $bold-font;
}

#legal * {
  font-size: $smallest-font;
  font-weight: $heading-font;
  font-variation-settings: "wght" $heading-font;
}
