/* Helpers
--------------------------------------------------------------------------------------------- */

// Source: https://stackoverflow.com/questions/53294048/how-to-extend-media-queries-in-sass

@mixin visually-hidden-mixin {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.visually-hidden {
  @include visually-hidden-mixin;
}

// Source: https://www.w3schools.com/howto/howto_css_center-vertical.asp

.vertically-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

/* Source: https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element*/

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(101%) contrast(103%)
}

.filter-white:hover,
.navbar-item img:hover,
.navbar-burger:hover {
  filter: invert(61%) sepia(22%) saturate(284%) hue-rotate(161deg) brightness(97%) contrast(84%);
}

/* Definitions
--------------------------------------------------------------------------------------------- */



/* Abstracts
--------------------------------------------------------------------------------------------- */

.dark {
  background-color: $davys-gray;
  color: $white;
}

.dark:a {
  color: $link-on-dark;
  
  &:hover {
    color: $link-hover-on-dark;
  }
}



.primary {
  background-color: $primary;
  color: $bg;
  
  &:hover {
    background-color: $primary-hover;
    color: $bg;
  }
  
}

.secondary {
  background-color: $secondary;
  color: $bg;
  
  &:hover {
    background-color: $secondary-hover;
    color: $bg;
  }
  
}

/* Content
--------------------------------------------------------------------------------------------- */

a {
  color: $link;
  font-weight: $bold-font;
  font-variation-settings: "wght"$bold-font;
  text-decoration: none;
  
  &:hover {
    color: $link-hover;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
  
}

@media (max-width:480px) {
  a {
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

em,
.quote {
  font-variation-settings: "slnt" 14;
}

strong,
b {
  font-variation-settings: "wght"$bold-font
}

.meta {
  color: $primary;
  font-weight: $bold-font;
  font-variation-settings: "wght"$bold-font;
  margin-bottom: 1.25em;
  line-height: 1.25em;
}

ul.meta {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.meta li {
  padding-top: 0.5rem;
  
  &::before {
    content: '\00B7';
    margin-right: 1ch;
    margin-left: -1ch;
  }
  
  &:first-child:before {
    content: '';
    margin-right: 0;
  }
  
}

/* Buttons
--------------------------------------------------------------------------------------------- */

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"],
.button {
 display: inline-block;
 border-radius: $button-border-radius;
 background-color: $accent;
 border: none;
 color: $bg;
 text-align: center;
 font-size: var(--font-size-body);
 padding: 1rem;
 cursor: pointer;
 margin: 0.3rem;
}

/* Images
--------------------------------------------------------------------------------------------- */

.content figure {
  margin-left: 0;
  margin-right: 0;
}

img,
picture {
  border-radius: 1.5%;
}

.icon,
.small-icon {
  color: $font-color;
  vertical-align: -.125em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  
  &:hover {
    color: $link-hover;
  }
  
}

.small-icon {
  width: 1em;
  height: 1em;
}

/* Lists
--------------------------------------------------------------------------------------------- */

.bullet ul,
.bullet li,
.bullet ol {
  margin-left: 3vw;
}

ul {
  list-style: none;
}

.bullet-list ol {
  margin-bottom: 1rem;
  line-height: 50%;
}

.bullet li {
  margin-bottom: 1rem;
  line-height: 50%;
  
  &::marker {
    color: #437daa;
  }
  
  &::before {
    content: "\25AA";
    color: $gurkha;
    font-weight: bold;
    font-variation-settings: "wght"$black-font;
    display: inline-block;
    width: 0.75em;
    margin-left: -1em;
  }
  
}


// https://github.com/jgthms/bulma/issues/1121
.is-fullheight {
  height: 100%;
  flex-direction: column;
}

// https://css-tricks.com/almanac/properties/a/align-items/
.fullheight-container {
  display: flex;
  align-items: stretch;
}

/* Blockquotes & citations
--------------------------------------------------------------------------------------------- */

.content blockquote {
  background-color: inherit;
  border-left: none;
  padding: 1.75em 1.5em 1.25em;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $concrete;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  
  &:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'Quicksand', sans-serif;
    color: $font-color;
    text-align: center;
  }
  
  &:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    color: $gurkha;
  }
  
}

.attribution,
.attribution p {
  text-align: right;
  color: $primary;
}

.caption,
.figcaption,
.photo-credit,
.meta,
.meta * {
  font-size: 0.75rem;
}

.caption,
.photo-credit {
  text-align: right;
}

.figcaption {
  text-align: center;
}

.quote {
  font-size: inherit;
  font-style: italic
}

figure blockquote {
  margin-bottom: 0;
  text-align: left;
  padding-bottom: 1%
}

.quote-source {
  padding: 1% 0 5%;
  text-align: right;
  
  &::before {
    content: '\2014\2009';
  }
  
  &::after {
    content: '.'
  }
  
}

:lang(en)>q {
  quotes: '\2018' '\2019' '\201C' '\201D'
}

:lang(fr)>q {
  quotes: '\00AB\202F' '\202F\00BB' '\201C' '\201D'
}

/* Layout
--------------------------------------------------------------------------------------------- */

header,
main,
#navbar {
  width: calc(100% - 12vw);
  max-width: $container;
  margin: 0 auto;
}

body .content {
  font-family: $family-primary;
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  color: $font-color;
}

main {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}

footer {
  padding: 0 0 2rem;
}

/* Navbar
--------------------------------------------------------------------------------------------- */

#logo {
  margin: 0 0 0 -0.5rem;
}

ul {
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}

#menu {
  background-color: #ffffff;
  display: flex;
  position: relative;
  height: $header-height;
}

#menu li a {
  color: $bg;
  padding: 10px 20px;
  text-decoration: none;
  font-size: var(--font-size-body);
  font-weight: $heading-font;
  font-variation-settings: "wght"$heading-font;
  font-stretch: 95%;
  font-variation-settings: "wdth" 95;
  font-family: sans-serif;
  
  &:hover {
    color: $bg;
    text-decoration: none;
  }
}

// Style hamburger animation
#hamburger {
  --s: 0.2rem;
  /* control the size */
  border: none;
  background: none;
  padding: 0;
  margin: calc(2 * var(--s)) 0;
  cursor: pointer;
  height: var(--s);
  aspect-ratio: 5/1;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 5vh;
  transition: 0.5s;
  box-shadow:
    0 calc(2 * var(--s)) 0 $font-color,
    0 calc(-2 * var(--s)) 0 $font-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  &:before {
    content: "";
    position: absolute;
    inset: calc(-2 * var(--s)) 0;
    transition: 0.4s;
    background:
      radial-gradient(farthest-side, $font-color 98%, #0000) 0 / var(--s) var(--s) repeat-x,
      linear-gradient($font-color 0 0) 50% / calc(100% - var(--s)) var(--s) no-repeat;
  }
  
  &:after {
    content: "";
    position: absolute;
    inset: calc(-2 * var(--s)) 0;
    transition: 0.4s;
    background:
      radial-gradient(farthest-side, $font-color 98%, #0000) 0 / var(--s) var(--s) repeat-x,
      linear-gradient($font-color 0 0) 50% / calc(100% - var(--s)) var(--s) no-repeat;
  }
  
  &:focus-visible {
    outline: none;
  }
  
  &:focus-visible::before {
    outline: 1px solid;
    outline-offset: 5px;
  }
  
  &:hover {
    box-shadow:
      0 calc(1.6 * var(--s)) 0 $font-color,
      0 calc(-1.6 * var(--s)) 0 $font-color;
  }
  
  &:checked {
    box-shadow:
      0 calc(6 * var(--s)) 0 #0000,
      0 calc(-6 * var(--s)) 0 #0000;
  }
  
  &:checked::before {
    transform: rotate(45deg);
    transition: 0.6s 0.1s;
  }
  
  &:checked::after {
    transform: rotate(45deg);
    transition: 0.6s 0.1s;
  }
  
  &:checked::after {
    transform: rotate(-45deg);
  }
  
}

@media (min-width:$hamburger-container) {
  #hamburger {
    @include visually-hidden-mixin;
  }
  
  #menu .primary {
    background-color: $primary;
    
    &:hover {
      background-color: $primary-hover;
    }    
    
  }
  
  #menu .secondary {
    background-color: $secondary;
    
    &:hover {
      background-color: $secondary-hover;
    }
  }  

  #menu .button {
    top: 3.5%;
  }
}

@media (max-width:$hamburger-container) {
  #menu ul {
    position: fixed;
    background-color: #25252598;
    /*-- The value after six digit is your alpha color or opacity of background.--*/
    background-color: #2259;
    /*-- Same as previous one.--*/
    background-color: rgba(37, 37, 37, 0.6);
    /*-- a extend for alpha color--*/
    flex-direction: column;
    inset: 0 0 0;
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: .3s;
  }

  #menu .primary {
    background-color: lighten($primary, 18%);
  }

  #menu .secondary {
    background-color: lighten($secondary, 18%);
  }

  #hamburger {
    display: grid;
    z-index: 3;
    top: 42%;
  }

  #hamburger:checked+ul {
    transform: translate(0);
    opacity: 1;
  }
}

/* Footnotes
--------------------------------------------------------------------------------------------- */

.footnotes hr {
  border: none;
  height: 2px;
  background: $concrete;
  max-width: 20%;
}

.footnotes {
  font-size: 0.875rem
}

.footnote-ref {
  color: $white;
  background-color: $info;
  padding: 1px 2px 1px;
  
  &:hover {
    color: $white;
    background-color: $warning;
    padding: 1px 2px 1px;
  }
}



/* Lists
--------------------------------------------------------------------------------------------- */

/* Source: https://github.com/bluefantail/bulma-list/blob/main/css/bulma-list.css */

.list {
  color: $font-color;
  flex-direction: column;
  display: flex
}

.list-item-content {
  min-width: 0;
  max-width: calc(var(--length)*1ch);
  font-size: 0.875rem
}

.list-item-content>* {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}


.list-item:not(.box) {
  padding: .75em
}

.list-item:not(:last-child):not(.box) {
  border-bottom: 1px solid $concrete
}


@media screen and (max-width:768px) {
  .list-item-image {
    padding: .5rem 0
  }
}

.list-item-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex
}

@media screen and (max-width:768px) {
  .list-item-content {
    padding: .5rem 0
  }
}

.list-item-title {
  color: $font-color;
  font-weight: 600;
  font-variation-settings: "wght" 600
}

.list-item-description {
  color: $font-color
}

/* Footer
--------------------------------------------------------------------------------------------- */
#social {
  padding-top: 3.5vh;
  margin-bottom: 1.2vh;
}

footer p {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0.5em;
  text-align: center;
}

// Source: https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/
.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

footer li {
  padding: 0 1rem;
}

/* Article
--------------------------------------------------------------------------------------------- */
hgroup {
  border-bottom: 1px solid $grey-lighter;
}

.title:has(+ .subtitle) {
  margin-bottom: 0;
}

.title+.subtitle {
  margin-top: 0;
}