.contact {
  margin: 0;
}
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white-ter;
    border-radius: 3%;
    padding-bottom: 1vh;
    padding-top: 2vh;
  }
  
  .content-box {
    margin: 30px 0px 0px 0px;
  }
  
  
  .contact-form {
    position: relative;
    width: 360px;
    display: inline-block;
  }
  
  textarea::placeholder {
    font-size: 18px;
  }
  
  input::placeholder {
    font-size: 18px;
  }
  
  .contact-form textarea,
  .contact-form input {
    border: 0;
    border-radius:0px;
    border-bottom: 1px $davys-gray solid;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    background-color: transparent;
    width: 360px;
    position: relative;
    display: inline-block;
    resize: none;
    padding: 2px;
    color: $white;
    font-size: 18px;
  }
  
  .contact-form textarea {
    margin-top: 60px;
    height: 30px;
  }
  
  .contact-form input {
    display: none;
    margin-top: 30px;
  }
  
  .contact-form textarea:focus,
  .contact-form input:focus {
    outline: 0;
    border-bottom: 1px $davys-gray solid;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .contact-form.focused textarea,
  .contact-form:focus textarea {
    box-shadow: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 120px;
  }
  
  ::-webkit-input-placeholder {
    color: $davys-gray;
  }
  
  #send {
    display: none;
//    border: 1px solid #b5b5b5;
//    border-radius: 50px;
//    width: 80px;
    margin-top: 20px;
    margin-right: -1px;
    background: $white;
    padding: 4px 12px 6px;
    float: right;
    color: $davys-gray;
//    font-size: 18px;
  }
  
  #send:hover {
    background: $white;
  }
  
  .contact-form.focused #send,
  .contact-form.focused input {
    display: inline-block;
  }
  
  .contact-form.focused #contact-form-error {
    display: none;
  }
  
  #contact-form-error {
    margin-right: 20px;
    display: inline-block;
    color: $tomato;
  }
  
  .contact-form.focused #contact-form-error:empty {
    display: inline-block;
    min-width: 194px;
    text-align: left;
    padding: 0;
  }