@use '../../node_modules/sass-mq/mq' as * with (
  $breakpoints: (
    mobile: 320px,
    smartphone: 480px,
    tablet: 740px,
    desktop: 980px,
    wide: 1300px,
  )
);

@import '../../node_modules/normalize.css/normalize.css.css';
@import '../../node_modules/simpledotcss/simple.min.css';
@import 'custom-override';
@import 'custom-colors';
@import 'custom-typography';
@import 'custom-styles';
@import 'custom-contact';