// ------------------------------------------------------------------------------------------
// This file contains all styles related to blockquotes, citations, captions and attributions.
// ------------------------------------------------------------------------------------------

/* Source: https://blog.stackfindover.com/css-blockquotes-examples/ | https://codepen.io/r-i-c-h/pen/XveoOX */
blockquote {
  border-left: 3px solid $brand-color;
  color: $secondary;
  font-size: var(--font-size-large);
  font-style: italic;
  line-height: var(--line-height-citation);
  margin: 1.5em;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    background-color: $white;
    width: 5px;
    margin-top: -1em;
  }

  &:after {
    content: "\201C";
    position: absolute;
    top: 50%;
    left: -0.5em;
    color: $brand-color;
    width: 0.5rem;
    height: 0.33rem;
    font: 3em/0.54em $font-name, sans-serif;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.09em;
    transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
  }

  &:active:after {
    transform: rotateY(360deg);
  }
}

blockquote cite {
  display: block;
  font-size: 0.75em;
  line-height: 1.8em;
  margin-top: 1em;
}

@include media("<desktop") {
  blockquote {
    margin: 1.25em;
  }
}

@include media("<hamburger") {
  blockquote {
    border-top: 2px solid $brand-color;
    border-bottom: 2px solid $brand-color;
    border-left: none;
    margin: 1.5em 0;
    padding: 1.5em 1em;
  }
  blockquote:before {
    left: 50%;
    top: 0;
    height: 4px;
    margin-top: -3px;
    margin-left: -1em;
    width: 2em;
  }
  blockquote:after {
    font-size: 2em;
    left: 50%;
    top: 0;
    margin-top: -0.1em;
    margin-left: -0.5em;
  }
  blockquote cite {
    text-align: right;
  }
}

.attribution,
.attribution p {
  text-align: right;
  color: $brand-text;
}

.caption,
.photo-credit {
  text-align: right;
}

.figcaption {
  text-align: center;
}

.quote {
  font-size: inherit;
  font-style: italic;
}

blockquote {
  margin-bottom: 0;
  text-align: left;
  padding-bottom: 1%;
}

.source {
  padding: 0 0 5%;
  margin: 0;
  text-align: right;
}

.source p::before {
  content: "\2014\2009";
}

.source p::after {
  content: ".";
}

:lang(en) > q {
  quotes: "\2018""\2019""\201C""\201D";
}

:lang(fr) > q {
  quotes: "\00AB\202F""\202F\00BB""\201C""\201D";
}
