// -----------------------------------------------------------------------------
// This file contains all styles related to footnotes.
// -----------------------------------------------------------------------------

.footnotes {
  //display: inline-block;
  //align-items: left;
}

.footnotes hr {
  color: $grey-lighter;
  height: 1px;
  max-width: 10vw;

  // The default margin value for hr is margin: 0 auto; since hr is a block element. Reset that to margin: 0; | Source: https://stackoverflow.com/questions/68189681/css-align-hr-to-the-left
  margin: 0 0 0 -1vw;
}

.footnotes p {
  margin-top: calc($padding * 0.3);
}

/*
.footnotes p,
.footnote-ref,
.footnote-backref,
.footnotes li::marker {
  font-size: 0.875rem;
  font-weight: var(font-weight-medium);
}
*/
.footnote-ref {
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  color: var(--reference-color);
  text-decoration: none;

  &::before {
    color: var(--reference-color);
    content: "\202F[";
  }

  &::after {
    color: var(--reference-color);
    content: "]";
  }

  &:hover,
  &:hover::before,
  &:hover::after {
    color: var(--success-color);
  }
}

.footnotes li::marker {
  font-weight: var(--font-weight-semi-bold);
  color: var(--reference-color);
}

.footnote-backref {
  visibility: hidden;
  position: relative;
}

.footnote-backref:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}
