// -----------------------------------------------------------------------------
// This file contains all styles related to footnotes.
// -----------------------------------------------------------------------------

.footnotes {
  //display: inline-block;
  //align-items: left;
}

.footnotes hr {
  color: $grey-light;
  height: 1px;
  background: $grey-lighter;
  max-width: 10vw;

  // The default margin value for hr is margin: 0 auto; since hr is a block element. Reset that to margin: 0; | Source: https://stackoverflow.com/questions/68189681/css-align-hr-to-the-left
  margin: 0 0 0 -1vw;
}

.footnotes p,
.footnote-ref,
.footnotes li::marker {
  font-size: 0.875rem;
  font-weight: var(font-weight-medium);
}

.footnote-ref {
  color: $tertiary;
  //margin-left: 1px;
  //padding: 0.033em 0.13em;
  //min-width: 1ch;
  text-decoration: none;

  &::before {
    color: $tertiary;
    content: "\202F[";
  }

  &::after {
    color: $tertiary;
    content: "]";
  }

  &:hover {
    color: $danger;
  }
}

.footnotes li::marker {
  color: $tertiary;
}

.footnote-backref {
  visibility: hidden;
  position: relative;
}

.footnote-backref:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}
