// -----------------------------------------------------------------------------
// This file contains all styles related to footnotes.
// -----------------------------------------------------------------------------

.footnotes {
  //display: flex;
  // align-items: left;
}

.footnotes hr {
  height: 1px;
  background: $grey-light;
}

.footnotes p,
.footnote-ref,
.footnotes li::marker {
  font-size: 0.875rem;
  font-weight: var(font-weight-medium);
}

.footnote-ref {
  color: $white;
  background-color: $tertiary;
  margin-left: 1px;
  padding: 0.033em 0.13em;
  min-width: 1ch;
  text-decoration: none;
  border-radius: $slightly-rounded;

  &:hover {
    background-color: $danger;
    padding: 1px 2px 1px;
  }
}

.footnotes li::marker {
  color: $tertiary;
}

.footnote-backref {
  visibility: hidden;
  position: relative;
}

.footnote-backref:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}
