/* Source: https://www.quackit.com/html/html_editors/scratchpad/?example=%2fcss%2fgrid%2fexamples%2fphoto_gallery_auto-fill_evenly_sized_images */

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  gap: $card-gap;
  align-items: stretch;

  img {
    object-fit: cover;
    height: $card-size;
    border-radius: $very-rounded;
    cursor: pointer;

    @include media("<smartphone") {
      margin-inline: -6vw;
      width: calc(100% + 12vw);
      border-radius: unset;
    }
  }
}
