/* Source: https://www.quackit.com/html/html_editors/scratchpad/?example=%2fcss%2fgrid%2fexamples%2fphoto_gallery_auto-fill_evenly_sized_images */

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.photos img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
