/* Source: https://www.quackit.com/html/html_editors/scratchpad/?example=%2fcss%2fgrid%2fexamples%2fphoto_gallery_auto-fill_evenly_sized_images */

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}
.photos img {
  object-fit: cover;
  height: $card-size;
  border-radius: $very-rounded;
  cursor: pointer;
}
