// -----------------------------------------------------------------------------
// This file contains all styles related to lists and menus.
// -----------------------------------------------------------------------------

/**
 * Basic styles for lists
 */

ol {
  margin-bottom: 1rem;
}

ul li, ol li {

//
// Remove indentation from ul/ol list
// Source: https://stackoverflow.com/questions/64235551/css-cant-remove-indentation-from-a-bulleted-list
//

  margin-left: -20px;
}

//
// Custom bullets with CSS ::marker
// Source: https://web.dev/css-marker-pseudo-element/
//

 li {
  margin-bottom: 1rem;
  
  &::marker {
    color: $slate;
  }
  
}

/**
 * Bulma lists
 */
/* Source: https://github.com/bluefantail/bulma-list/blob/main/css/bulma-list.css */

.list {
  color: $font-color;
  flex-direction: column;
  display: flex
}

.list-item-content {
  min-width: 0;
  max-width: calc(var(--length)*1ch);
  font-size: 0.875rem
}

.list-item-content>* {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}


.list-item:not(.box) {
  padding: .75em
}

.list-item:not(:last-child):not(.box) {
  border-bottom: 1px solid $concrete
}


@include media("<tablet"){
  .list-item-image {
    padding: .5rem 0
  }
}

.list-item-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex
}

@include media("<tablet"){
  .list-item-content {
    padding: .5rem 0
  }
}

.list-item-title {
  color: $font-color;
  font-weight: 600;
  font-variation-settings: "wght" 600
}

.list-item-description {
  color: $font-color
}
