// -----------------------------------------------------------------------------
// This file contains all styles related to tables and definition lists
// -----------------------------------------------------------------------------

/*	
  Table Responsive
  ===================
  Author: https://github.com/pablorgarcia
 */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $very-rounded;
  overflow: hidden;

  @include media("<smartphone") {
    margin-inline: -6vw;
    width: calc(100% + 12vw);
    border-radius: unset;
  }
}

th {
  text-align: left;
  padding: 20px 20px 20px 20px;
  color: $horizon;
  background-color: $baja-white;
}

table,
td {
  padding: 8px 8px 8px 20px;
}

tr:nth-child(even) {
  background-color: $concrete;
}

tr:hover {
  background-color: rgba(114, 114, 113, 0.2);
}

// Definitions lists

dt,
dd {
  margin-left: 0;
}

dt {
  font-weight: var(--font-weight-bold);
  margin-top: $padding;
}

dd {
}
