.tag {
  align-items: center;
  background-color: var(--meta-color);
  border-radius: $rounded;
  color: $white;
  display: inline-flex;
  margin: 0.4rem 0.2rem 0 0;
  font-size: var(--font-size-smaller);
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  & a {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    color: var(--link-on-dark);
    background-color: var(--primary-color);
  }

  &:active {
    transform: scale(0.9);
  }
}

.dark .tag:hover {
  background-color: var(--dark-primary-color);
}
