// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
//html {
//  box-sizing: border-box;
//}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
//*,
//*::before,
//*::after {
//  box-sizing: inherit;
//}

/**
 * Basic styles for links
 */
 
a {
  color: $brand-color;
  font-weight: $bold-font;
  font-variation-settings: "wght"$bold-font;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
  
  &:hover {
  color: $link-hover;
  text-decoration: underline;
  text-decoration-style: dotted;
  }
  
  @include media ("<smartphone") {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
  
}

/**
 * Basic styles for colors
 */

.dark {
  background-color: $davys-gray;
  color: $white;
}

.dark a {
  color: $link-on-dark;
  
  &:hover {
    color: $link-hover-on-dark;
  }
}

.primary {
  background-color: $primary;
  color: $bg;
  
  &:hover {
    background-color: $primary-hover;
    color: $bg;
  }
  
}

.secondary {
  background-color: $secondary;
  color: $bg;
  
  &:hover {
    background-color: $secondary-hover;
    color: $bg;
  }
  
}

/**
 * Add box shadow for images and other stuff
 */
img:not(#logo picture img),
table {
   box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);  
}


/**
 * Basic styles for images and similar stuff
 */
 
 figure {
   margin: 0;
 }
 
 img {
   border-radius: $standard-border-radius;
   width: 100%;
   padding: 0;
   max-width: $container;
 }


.icon,
.small-icon {
  color: $font-color;
  vertical-align: -.125em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  
  &:hover {
    color: $link-hover;
  }
  
}

.small-icon {
  width: 1em;
  height: 1em;
}

.meta {
  color: $brand-color;
  font-weight: $bold-font;
  font-variation-settings: "wght" $bold-font;
  margin-bottom: 1.25em;
  line-height: 1.25em;
}

ul.meta {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.meta li {
  padding-top: 0.5rem;
  
  &::before {
    content: '\00B7';
    margin-right: 1ch;
    margin-left: -1ch;
  }
  
  &:first-child:before {
    content: '';
    margin-right: 0;
  }
  
}
