// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
//.clearfix::after {
//  clear: both;
//  content: '';
//  display: table;
//}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
//.container {
//  max-width: $container; /* 1 */
//  margin-left: auto; /* 2 */
//  margin-right: auto; /* 2 */
//  padding-left: 20px; /* 3 */
//  padding-right: 20px; /* 3 */
//  width: 100%; /* 1 */
//}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  @include visually-hidden-mixin;
}

// Source: https://www.w3schools.com/howto/howto_css_center-vertical.asp

.vertically-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.is-full-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding-bottom: 8rem;
  min-height: 100vh;
  min-height: calc(100vh - 4rem)
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

// https://github.com/jgthms/bulma/issues/1121
.is-fullheight {
  height: 100%;
  flex-direction: column;
}

// https://css-tricks.com/almanac/properties/a/align-items/
.fullheight-container {
  display: flex;
  align-items: stretch;
}

/* Source: https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element*/

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(101%) contrast(103%)
}

.filter-white:hover {
  filter: invert(73%) sepia(10%) saturate(616%) hue-rotate(314deg) brightness(107%) contrast(96%); // target color: EABEBE $link-hover-on-dark
}


/* Aspect ratio | Source: https://css-tricks.com/aspect-ratio-boxes/ */

[style*="--aspect-ratio"]> :first-child {
  width: 100%;
}

[style*="--aspect-ratio"]>img {
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"]> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}