// -----------------------------------------------------------------------------
// This file contains custom tags | Source: https://matthewjamestaylor.com/div-custom-elements
// ------------------------------------------------------------------------------

sub-head {
    font-weight:normal;
}

/// Show an inline list of links with a bit more spacing for mobile users
line-links {
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}
line-links > a {
    white-space:nowrap;
}

/// Add tool-tips for information
help-text {
    display:inline-block;
    width:1.5em;
    height:1.5em;
    text-align:center;
    line-height:1.5em;
    border-radius:50%;
    background:$info;
    font-weight:bold;
    cursor:pointer;
    position:relative;
}
help-text:hover:after,
help-text:active:after {
    content:attr(txt);
    display:block;
    width:8em;
    background:$papaya-whip;
    padding:1rem;
    box-shadow:0 8px 16px -8px rgb(0 0 0 / 30%);
    text-align:left;
    position:absolute;
    top:2em;
    left:1em;
}