/**
 * Basic typography style for copy text
 */

body,
.content {
  font-family: var(--sans-font);
  font-size: var(--font-size-body);
  font-stretch: 95%;
  line-height: var(--line-height-body);
}

body,
.content,
strong a,
em a,
strong a,
em a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  font-weight: var(--font-weight-medium);
}

a {
  color: var(--link);

  &:hover {
    color: var(--link-hover);
  }
}

.dark {
  color: var(--text-on-dark);
}

.dark a {
  color: var(--link-on-dark);

  &:hover {
    color: var(--link-hover-on-dark);
  }
}

.primary {
  color: var(--text-on-dark);

  &:hover {
    color: var(--text-on-dark);
  }
}

.secondary {
  color: var(--text-on-dark);

  &:hover {
    color: var(--text-on-dark);
  }
}

h1 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

h3 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

h4 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
}

h5 {
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
}

h6 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: var(--font-weight-heading);
}

button {
  font-stretch: unquote(calc($font-stretch * 1.053) + "%");
  letter-spacing: -0.0075em;
  line-height: calc($line-height * 0.75);
}

p,
p em,
cite,
.source,
li {
  font-weight: var(--font-weight-normal);
}

#menu li a {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-heading);
}

small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

#legal * {
  font-size: var(--font-size-smallest);
  font-weight: var(--font-weight-thin);
}

em,
p em,
.quote,
cite em {
  font-weight: var(--font-weight-normal);
  letter-spacing: -0.02em;
  margin-right: 0.25ex;
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

.caption,
figcaption,
.photo-credit {
  color: var(--caption-color);
  font-size: var(--font-size-smaller);
  line-height: var(--line-height-smaller);
}

caption {
  text-align: center;
  caption-side: top;
}

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"],
.button {
  color: var(--text-on-dark);

  &:hover {
    color: var(--brand-text);
  }
}

table {
  font-size: var(--font-size-smaller);
  font-style: var(--font-weight-normal);

  & a {
    font-weight: var(--font-weight-normal);
  }

  @include media("<tablet") {
    font-size: var(--font-size-smallest);
  }
}

.icon,
.small-icon {
  color: var(--text-color);
}

.icon:hover {
  color: var(--link-hover);
}

.meta {
  color: var(--meta-color);
}

.meta a {
  color: var(--meta-color);

  &:hover {
    color: var(--link-hover);
  }
}

.meta,
.meta a {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-bold);
}

.source {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-normal);
}

textarea::placeholder,
input::placeholder,
.contact-form textarea,
.contact-form input {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-thin);
}

.caption,
figcaption em,
.photo-credit,
strong a,
em a {
  font-weight: inherit;
}
