/* Buttons
--------------------------------------------------------------------------------------------- */

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"],
.button {
 display: inline-block;
 border-radius: $button-border-radius;
 background-color: $accent;
 border: none;
 color: $bg;
 text-align: center;
 font-size: var(--font-size-body);
 padding: 1rem;
 cursor: pointer;
 margin: 0.3rem;
}

/**
 * Icons within buttons
 */
.button > svg {
  fill: currentcolor;
}