// ------------------------------------------------------------------------------------------
// This file contains all styles related to blockquotes, citations, captions and attributions.
// ------------------------------------------------------------------------------------------

.content blockquote {
  background-color: inherit;
  border-left: none;
  padding: 1.75em 1.5em 1.25em;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $concrete;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  
  &:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'Quicksand', sans-serif;
    color: $font-color;
    text-align: center;
  }
  
  &:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    color: $brand-color;
  }
  
}

.attribution,
.attribution p {
  text-align: right;
  color: $brand-color;
}

.caption,
.figcaption,
.photo-credit,
.meta,
.meta * {
  font-size: 0.75rem;
}

.caption,
.photo-credit {
  text-align: right;
}

.figcaption {
  text-align: center;
}

.quote {
  font-size: inherit;
  font-style: italic
}

figure blockquote {
  margin-bottom: 0;
  text-align: left;
  padding-bottom: 1%
}

.quote-source {
  padding: 1% 0 5%;
  text-align: right;
  
  &::before {
    content: '\2014\2009';
  }
  
  &::after {
    content: '.'
  }
  
}

:lang(en)>q {
  quotes: '\2018' '\2019' '\201C' '\201D'
}

:lang(fr)>q {
  quotes: '\00AB\202F' '\202F\00BB' '\201C' '\201D'
}
