/* Source: https://sass-lang.com/documentation/modules/color */
@use "sass:color";

/// Hues
$primary-hue: 56;
$secondary-hue: 204;
$tertiary-hue: 0;
$success-hue: 135;
$warning-hue: 37;
$danger-hue: 8;

/// Brand colors | https://convertingcolors.com/color-bucket/view/9C9A77585A79575757C75757F0F0F094C7A1FB5E46.html
$gurkha: hsl($primary-hue, 16%, 54%);
$horizon: hsl($secondary-hue, 15%, 41%);
$davys-gray: hsl(111, 0%, 34%);
$concrete: hsl(117, 0%, 94%);
$fuzzy-wuzzy-brown: hsl($tertiary-hue, 50%, 56%);
$baja-white: hsl(49, 100%, 91%);
$eton-blue: hsl($success-hue, 31%, 68%);
$tomato: hsl($danger-hue, 96%, 63%);
$papaya-whip: hsl($warning-hue, 100%, 92%);
$slate: hsl(217, 29%, 72%);

/// Black & White
$black: #000;
$white: hsl(0, 0%, 100%);

/// Black/white shades [Bulma]
$white-bis: hsl(0, 0%, 98%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black-bis: hsl(0, 0%, 7%);

/// Custom colors
$primary: $gurkha;
$primary-light:	hsl($primary-hue, 18%, 90%);
$secondary: $horizon;
$secondary-light:	hsl($secondary-hue, 18%, 90%);
$tertiary: $fuzzy-wuzzy-brown;
$primary-hover: color.adjust($primary, $lightness: 5%);
$secondary-hover: color.adjust($secondary, $lightness: 5%);
$primary-on-dark: $primary-light;
$secondary-on-dark: $secondary-light;
$primary-on-dark-hover: color.adjust($primary-hover, $lightness: 5%);
$secondary-on-dark-hover: color.adjust($secondary-hover, $lightness: 5%);

/// Brand color
$brand-color: $primary; // Main brand color

///Background colors
$dark-background: $davys-gray;
$light-background: $white;

/// Text colors
$text-color: $davys-gray; // Main text color
$title-color: color.adjust($text-color, $blackness: 27%);
$text-on-dark: color.adjust($concrete, $lightness: 40%);
$caption-color: $grey;
$caption-color-on-dark: $grey-lighter;
$brand-text: hsl(58, 14%, 40%); // brand-color darkened enough to pass contrast test

 
/// Link colors
$link: $text-color;
$link-visited: color.adjust($link, $blackness: 27%);
$link-hover: $tertiary;
$link-on-dark: color.adjust($eton-blue, $lightness: 20%);
$link-hover-on-dark: hsl($tertiary-hue, 51%, 83%);

/// Alert colors
$info: color.adjust($slate, $lightness: 20%);
$success: $eton-blue;
$warning: hsl(36, 100%, 40%); // $papaya-whip => 600
$danger: $tomato;

$info-light	: $secondary-light;
$success-light: hsl($success-hue, 18%, 90%);
$warning-light: $papaya-whip;
$danger-light:	hsl($danger-hue, 96%, 90%);

/* /// Reset simple.css colors
$text-on-dark: $white;
$accent-bg: $white-bis;
$text: $text-color;
$text-light: color.adjust($text-color, $lightness: 20%);
$border: $grey;
$accent: $primary;
$code: $tomato;
$preformatted: $text-color;
$marked: color.adjust($baja-white, $blackness: 60%);
$disabled: $concrete; */




