/* Source: https://sass-lang.com/documentation/modules/color */
@use "sass:color";

/// Hues
$primary-hue: 56;
$secondary-hue: 204;
$tertiary-hue: 0;

$success-hue: 135;
$warning-hue: 37;
$danger-hue: 8;

/// Brand colors | https://convertingcolors.com/color-bucket/view/9C9A77585A79575757C75757F0F0F094C7A1FB5E46.html

// light theme
$gurkha: hsl($primary-hue, 16%, 54%);
$horizon: hsl($secondary-hue, 15%, 41%);
$davys-gray: hsl(111, 0%, 34%);
$concrete: hsl(117, 0%, 94%);
$fuzzy-wuzzy-brown: hsl($tertiary-hue, 50%, 56%);
$baja-white: hsl(49, 100%, 91%);
$eton-blue: hsl($success-hue, 31%, 68%);
$tomato: hsl($danger-hue, 96%, 63%);
$papaya-whip: hsl($warning-hue, 100%, 92%);
$slate: hsl(217, 29%, 72%);

// dark theme
$portage: hsl(242, 79%, 77%);
$ship-cove: hsl(224, 20%, 59%);
$quartz: hsl(240, 100%, 94%);

/// Dark theme colors:
$dark-primary-color: $portage;
$dark-secondary-color: $ship-cove;
$dark-text-color: $quartz;

/// Black & White
$black: #000;
$white: hsl(0, 0%, 100%);

/// Black/white shades [Bulma]
$white-bis: hsl(0, 0%, 98%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black-bis: hsl(0, 0%, 7%);

/// Custom colors
$primary: $gurkha;
$primary-light: hsl($primary-hue, 18%, 90%);
$secondary: $horizon;
$secondary-light: hsl($secondary-hue, 18%, 90%);
$tertiary: $fuzzy-wuzzy-brown;
$text: $davys-gray;
$primary-hover: color.adjust($primary, $lightness: 5%);
$secondary-hover: color.adjust($secondary, $lightness: 5%);
$primary-on-dark: $primary-light;
$secondary-on-dark: $secondary-light;
$primary-on-dark-hover: color.adjust($primary-hover, $lightness: 5%);
$secondary-on-dark-hover: color.adjust($secondary-hover, $lightness: 5%);

/// Brand color
$brand-color: $primary; // Main brand color

///Background/shadow colors
$light-bg: $white;
$dark-bg: $davys-gray;
$normal-bg: $concrete;

// Source: https://www.joshwcomeau.com/css/designing-shadows/
$light-shadow: 60deg 0% 45%;
$dark-shadow: 111deg 60% 50%;

/// Text colors
$brand-text: hsl(
  calc($primary-hue + 1),
  13%,
  35%
); // brand-color darkened enough to pass contrast test
$text-color: $text; // Main text color
$title-color: color.adjust($text-color, $blackness: 27%);

// Lightest grey that passes Any Text WCAG AAA color contrast check
$caption-color: hsl(0, 0%, 35%);
$caption-color-on-dark: $grey-lighter;
$marker-color: $slate;
$meta-color: $secondary;
$reference-color: $tertiary;

/// Link colors
$link: $text-color;
$link-visited: color.adjust($link, $blackness: 27%);
$link-hover: $tertiary;
$link-on-dark: color.adjust($eton-blue, $lightness: 20%);
$link-hover-on-dark: hsl($tertiary-hue, 51%, 83%);

/// Alert colors
$info: color.adjust($slate, $blackness: 20%);
$success: $eton-blue;
$warning: hsl(36, 100%, 40%); // $papaya-whip => 600
$danger: $tomato;

$info-bg: color.adjust($slate, $lightness: 20%);
$success-bg: hsl($success-hue, 18%, 90%);
$warning-bg: $papaya-whip;
$danger-bg: hsl($danger-hue, 96%, 92%);
