/// Global variables.

:root {
    
  /* Basic styles for font attributes | Source: https://variablefonts.io/about-variable-fonts/
 */
 
  /* Light color scheme */
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --text-color: #{$text-color};
  --caption-color: #{$caption-color};
  --bg-color: #{$white};
  --contrast-bg-color: #{$dark-background}
  --heading-color: #{$text-color};
  --link: #{$link};
  --link-hover: #{$link-hover};

  // Other text colors
  --title-color: #{$title-color};
  --text-on-dark: #{$text-on-dark};
  --brand-text: #{$brand-text};

  /// Link colors
  --link-visited: #{$link-visited};
  --link-on-dark: #{$link-on-dark};
  --link-hover-on-dark: #{$link-hover-on-dark};

  /* Set sans-serif & mono fonts */
  --sans-font: #{$regular-font-stack};
  --mono-font: #{$monospace-font-stack};

  /* Set font-weight */
  --font-weight-normal: #{$normal-font};
  --font-weight-semi-bold: #{$semi-bold-font};
  --font-weight-bold: #{$bold-font};
  --font-weight-black: #{$black-font};
  --font-weight-heading: #{$heading-font};
  --font-weight-thin: #{$thin-font};

  /* Responsive font sizes | Source: https://enzedonline.com/en/tech-blog/create-responsive-font-sizes-based-on-the-viewport/*/
  --font-size-hero: #{$font-size-hero};
  --font-size-1: #{$font-size-1};
  --font-size-2: #{$font-size-2};
  --font-size-3: #{$font-size-3};
  --font-size-4: #{$font-size-4};
  --font-size-5: #{$font-size-5};
  --font-size-6: #{$font-size-6};
  --font-size-large: #{$font-size-large};
  --font-size-body: #{$font-size-body};
  --font-size-small: #{$font-size-small};
  --font-size-smaller: #{$font-size-smaller};
  --font-size-smallest: #{$font-size-smallest};
  
  /* Set line-height */
  --line-height-hero: #{$line-height-hero};
  --line-height-1: #{$line-height-1};
  --line-height-2: #{$line-height-2};
  --line-height-3: #{$line-height-3};
  --line-height-4: #{$line-height-4};
  --line-height-5: #{$line-height-5};
  --line-height-6: #{$line-height-6};
  --line-height-body: #{$line-height-body};

  /* Set border-radius */
  --rounded: #{$rounded};
  --slightly-rounded: #{$slightly-rounded};
  --rounded: #{$very-rounded};
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --text-color: #e1e1ff;
  --caption-color: #{$caption-color-on-dark};
  --bg-color: #{$dark-background};
  --contrast-bg-color: #{$concrete};
  //--heading-color: #818cab;
  --heading-color: #e1e1ff;
  --link: #{$link-on-dark};
  --link-hover: #{$link-hover-on-dark};
}
