// -----------------------------------------------------------------------------
// This file contains all typography definitions.
// -----------------------------------------------------------------------------

/// Font-face declaration
/* @font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://donaldjenkins.pages.dev/fonts/figtree.woff2") format("woff2-variations");
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: $font-name;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://donaldjenkins.pages.dev/fonts/figtree.woff2") format("woff2-variations");
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */

/// Font stacks
$humanist-font-stack: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;

$system-ui-font-stack: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$geometric-humanist-font-stack: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;


/// Regular font family
/// @type List
$text-font-stack: $system-ui-font-stack;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
$monospace-font-stack: $code-font-stack;

$regular-font-stack: $text-font-stack;

/// Global variables.

:root {

  /* Basic styles for font attributes | Source: https://variablefonts.io/about-variable-fonts/
    */

  /* Colors */
  --text-color: #{$text-color};

  // Other text colors
  --title-color: #{$title-color};
  --text-on-dark: #{$text-on-dark};
  --caption-color: #{$caption-color};
  --brand-text: #{$brand-text};

  /// Link colors
  --link: #{$link};
  --link-visited: #{$link-visited};
  --link-hover: #{$link-hover};
  --link-on-dark: #{$link-on-dark};
  --link-hover-on-dark: #{$link-hover-on-dark};

  /* Set sans-serif & mono fonts */
  --sans-font: #{$regular-font-stack};
  --mono-font: #{$monospace-font-stack};

  /* Set font-weight */
  --font-weight-normal: #{$normal-font};
  --font-weight-semi-bold: #{$semi-bold-font};
  --font-weight-bold: #{$bold-font};
  --font-weight-black: #{$black-font};
  --font-weight-heading: #{$heading-font};
  --font-weight-thin: #{$thin-font};

  /* Responsive font sizes | Source: https://enzedonline.com/en/tech-blog/create-responsive-font-sizes-based-on-the-viewport/*/
  --font-size-1: #{$font-size-1};
  --font-size-2: #{$font-size-2};
  --font-size-3: #{$font-size-3};
  --font-size-4: #{$font-size-4};
  --font-size-5: #{$font-size-5};
  --font-size-6: #{$font-size-6};
  --font-size-large: #{$font-size-large};
  --font-size-body: #{$font-size-body};
  --font-size-small: #{$font-size-small};
  --font-size-smaller: #{$font-size-smaller};
  --font-size-smallest: #{$font-size-smallest};
  
  /* Set line-height */
  --line-height-1: #{$line-height-1};
  --line-height-2: #{$line-height-2};
  --line-height-3: #{$line-height-3};
  --line-height-4: #{$line-height-4};
  --line-height-5: #{$line-height-5};
  --line-height-6: #{$line-height-6};
  --line-height-body: #{$line-height-body};

  /* Set border-radius */
  --rounded: #{$rounded};
  --slightly-rounded: #{$slightly-rounded};
  --rounded: #{$very-rounded};
}
