<div id="contact" class="contact-form">
  <div>
    <a href="#close" title="Close" class="close">X</a>

    <h2>Contact form</h2>

    <p>
      This is a sample modal box that can be created using the powers of CSS3.
    </p>
    <p>
      You could do a lot of things here like have a pop-up ad that shows when
      your website loads, or create a login/register form for users.
    </p>
    <div class="wpforms-container wpforms-container-full" id="wpforms-2940">
      <form
        id="wpforms-form-2940"
        class="wpforms-validate wpforms-form"
        data-formid="2940"
        method="post"
        enctype="multipart/form-data"
        action="/contact/"
        data-token="fb5c4d664cdfc3d3bf142141e40f5e26"
      >
        <noscript class="wpforms-error-noscript"
          >Please enable JavaScript in your browser to complete this
          form.</noscript
        >
        <div class="wpforms-field-container">
          <div
            id="wpforms-2940-field_0-container"
            class="wpforms-field wpforms-field-name icon divwpforms-container-full wpforms-form wpforms-2435-field_0-container"
            data-field-id="0"
          >
            <label class="wpforms-field-label" for="wpforms-2940-field_0"
              >Name <span class="wpforms-required-label">*</span></label
            >
            <div class="wpforms-field-row wpforms-field-medium">
              <div
                class="wpforms-field-row-block wpforms-first wpforms-one-half"
              >
                <input
                  type="text"
                  id="wpforms-2940-field_0"
                  class="wpforms-field-name-first wpforms-field-required"
                  name="wpforms[fields][0][first]"
                  placeholder="John"
                  required
                /><label
                  for="wpforms-2940-field_0"
                  class="wpforms-field-sublabel after"
                  >First</label
                >
              </div>
              <div class="wpforms-field-row-block wpforms-one-half">
                <input
                  type="text"
                  id="wpforms-2940-field_0-last"
                  class="wpforms-field-name-last wpforms-field-required"
                  name="wpforms[fields][0][last]"
                  placeholder="Doe"
                  required
                /><label
                  for="wpforms-2940-field_0-last"
                  class="wpforms-field-sublabel after"
                  >Last</label
                >
              </div>
            </div>
          </div>
          <div
            id="wpforms-2940-field_1-container"
            class="wpforms-field wpforms-field-email icon divwpforms-container-full wpforms-form wpforms-2441-field_1-container"
            data-field-id="1"
          >
            <label class="wpforms-field-label" for="wpforms-2940-field_1"
              >Email <span class="wpforms-required-label">*</span></label
            ><input
              type="email"
              id="wpforms-2940-field_1"
              class="wpforms-field-medium wpforms-field-required"
              name="wpforms[fields][1]"
              placeholder="you@yourdomain.com"
              spellcheck="false"
              required
            />
          </div>
          <div
            id="wpforms-2940-field_4-container"
            class="wpforms-field wpforms-field-text icon divwpforms-container-full wpforms-form wpforms-2441-field_3-container"
            data-field-id="4"
          >
            <label class="wpforms-field-label" for="wpforms-2940-field_4"
              >Subject</label
            ><input
              type="text"
              id="wpforms-2940-field_4"
              class="wpforms-field-medium"
              name="wpforms[fields][4]"
              placeholder="The subject of your message (optional)"
            />
          </div>
          <div
            id="wpforms-2940-field_2-container"
            class="wpforms-field wpforms-field-textarea icon divwpforms-container-full wpforms-form wpforms-2441-field_2-container"
            data-field-id="2"
          >
            <label class="wpforms-field-label" for="wpforms-2940-field_2"
              >Comment or Message
              <span class="wpforms-required-label">*</span></label
            ><textarea
              id="wpforms-2940-field_2"
              class="wpforms-field-medium wpforms-field-required"
              name="wpforms[fields][2]"
              placeholder="Write your message  here"
              required
            ></textarea>
          </div>
          <div
            id="wpforms-2940-field_6-container"
            class="wpforms-field wpforms-field-captcha"
            data-field-id="6"
          >
            <label class="wpforms-field-label" for="wpforms-2940-field_6"
              >Captcha <span class="wpforms-required-label">*</span></label
            >
            <div class="wpforms-captcha-math">
              <span class="wpforms-captcha-equation">
                <span class="n1"></span>
                <span class="cal"></span>
                <span class="n2"></span>
                <span class="e">=</span>
              </span>
              <input
                type="text"
                id="wpforms-2940-field_6"
                class="wpforms-field-medium wpforms-field-required a"
                data-rule-wpf-captcha="math"
                name="wpforms[fields][6][a]"
                required
              />
              <input type="hidden" name="wpforms[fields][6][cal]" class="cal" />
              <input type="hidden" name="wpforms[fields][6][n2]" class="n2" />
              <input type="hidden" name="wpforms[fields][6][n1]" class="n1" />
            </div>
          </div>
        </div>
        <div class="wpforms-field wpforms-field-hp">
          <label for="wpforms-2940-field-hp" class="wpforms-field-label"
            >Email</label
          ><input
            type="text"
            name="wpforms[hp]"
            id="wpforms-2940-field-hp"
            class="wpforms-field-medium"
          />
        </div>
        <div class="wpforms-submit-container">
          <input type="hidden" name="wpforms[id]" value="2940" /><input
            type="hidden"
            name="wpforms[author]"
            value="1"
          /><input type="hidden" name="wpforms[post_id]" value="175" /><button
            type="submit"
            name="wpforms[submit]"
            id="wpforms-submit-2940"
            class="wpforms-submit"
            data-alt-text="Sending..."
            data-submit-text="Send"
            aria-live="assertive"
            value="wpforms-submit"
          >
            Send
          </button>
        </div>
      </form>
    </div>
    <p class="small-text">
      <i class="fas fa-info-circle"></i>&nbsp;By sending data using this form,
      you agree to the terms of this website&#8217;s
      <a href="/privacy">Privacy Policy</a>.
    </p>
  </div>
</div>
