<aside id="legal">
  <p>
    <a
      id="footer-logo"
      class="filter-white"
      href="{{ .Site.BaseURL }}"
      title="Go to Home page"
      ><img src="/images/logo.svg" alt="Donald Jenkins" width="100" height="27"
    /></a>
  </p>
  <p>
    <strong
      >Copyright &#169; Donald Jenkins {{ partial "footer/copyright-year.html" .
      }}</strong
    >
  </p>
  <nav id="footer-menu">
    <a href="/legal" title="Read the Terms and Privacy policy for this site"
      >Legal Stuff</a
    >
    <a href="/contact" title="Contact Donald">Contact</a>
    <a href="/humans.txt" title="The humans responsible for this site"
      >humans.txt</a
    >
  </nav>
</aside>
