<nav id="social">
  <a href="https://x.com/donaldjenkins" title="Donald Jenkins on X">
    {{ partial "icons/x.html" . }}
  </a>

  <a href="https://github.com/donaldjenkins" title="Donald Jenkins on Github">
    {{ partial "icons/github.html" . }}
  </a>

  <a href="https://instagram.com/donaldjenkins_/" title="Donald Jenkins on Instagram">
    {{ partial "icons/instagram.html" . }}
  </a>

  <a href="https://www.linkedin.com/in/donaldjenkins" title="Donald Jenkins on LinkedIn">
    {{ partial "icons/linkedin.html" . }}
  </a>
</nav>
