<nav id="social">
  <a href="https://www.twitter.com/donaldjenkins" title="Donald Jenkins on Twitter">
    {{ partial "icons/twitter.html" . }}
  </a>

  <a href="https://github.com/donaldjenkins" title="Donald Jenkins on Github">
    {{ partial "icons/github.html" . }}
  </a>

  <a href="https://instagram.com/donaldjenkins_/" title="Donald Jenkins on Instagram">
    {{ partial "icons/instagram.html" . }}
  </a>

  <a href="https://jenkins.social/@donald" title="Donald Jenkins on Mastodon">
    {{ partial "icons/mastodon.html" . }}
  </a>

  <a href="https://www.linkedin.com/in/donaldjenkins" title="Donald Jenkins on LinkedIn">
    {{ partial "icons/linkedin.html" . }}
  </a>
</nav>
