// ----------------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// ----------------------------------------------------------------------------------

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

/// Make footer sticky | Source: https://css-tricks.com/a-clever-sticky-footer-technique/

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

main {
  margin-top: $padding;
  margin-bottom: $padding;
}

.post {
  width: min($container, 100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  // Sets container width to 70 characters | Source: https://moderncss.dev/practical-uses-of-css-math-functions-calc-clamp-min-max/
}

.archive {
  width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;

  & #main-heading p {
    max-width: calc($container + 35ch);
  }
}
