// ----------------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// ----------------------------------------------------------------------------------

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  margin-top: $padding;
  margin-bottom: $padding;
}

.container {
  
}

.post {
  width: calc(100% - 12vw);
  
// Sets container width to 70 characters  
  max-width: 70ch;
  margin: 0 auto;
}