// ----------------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// ----------------------------------------------------------------------------------

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

/// Make footer sticky | Source: https://css-tricks.com/a-clever-sticky-footer-technique/

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

main {
  margin-top: $padding;
  margin-bottom: $padding;
}

.post {
  width: calc(100% - 12vw);

  // Sets container width to 70 characters
  max-width: $container;
  margin: 0 auto;
}
.archive {
  width: calc(100% - 6vw);
  margin: 0 auto;

  & #main-heading p {
    max-width: calc($container + 35ch);
  }
}
