<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 Not Found</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div id="oopss">
      <figure id="logo">
        <a href="/" title="Home">
          <img
            src="/images/logo.svg"
            alt="Donald Jenkins"
            title="Donald Jenkins"
            width="210"
            height="50"
        /></a>
      </figure>
      <div id="error-text">
        <img src="https://assets.via.dj/images/system/404.svg" alt="404" />
        <span>Uh oh.</span>
        <p class="p-a">
          We don't know where that stuff went, sorry. Better just get
          <a href="/">out</a> of here...
        </p>
        <p class="p-b"></p>
      </div>
    </div>
  </body>
</html>
