{{ define "main" }} {{ with .Site.Params }}
<article class="archive">
  <h2 class="visually-hidden">About Donald Jenkins</h2>
  <section id="statement" class="hero">
    <h3 class="visually-hidden">Main description</h3>
    <p>{{ .description | markdownify }}</p>
  </section>
  <section id="notable-posts" class="sub-hero">
    <h3 class="visually-hidden">Notable posts</h3>
    <div class="grid cards">
      {{ range first 6 (where (where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.notable" "=" true) }}
      {{ partial "widgets/post-card.html" . }}
      {{ end }}
    </div>
    <h3 class="visually-hidden">What Donald Jenkins writes about</h3>
    <div class="tags">
      <span class="tag"><a href="/politics">Politics</a></span>
      <span class="tag"><a href="/tech">Tech</a></span>
      <span class="tag"><a href="/culture">Culture</a></span>
      <span class="tag"><a href="/literature">Literature</a></span>
      <span class="tag"><a href="/religion">Religion</a></span>
      <span class="tag"><a href="/sundry">Sundry</a></span>
      <span class="tag"><a href="/personal">Personal</a></span>
    </div>
    <p>{{ with site.GetPage "articles" }}
      {{ .Params.description | markdownify }}
      {{ end }}</p>
  </section>
  <section id="about" class="sub-hero">
    <h3 class="visually-hidden">Brief CV</h3>
    <p>{{ .about | markdownify }}</p>
  </section>
</article>
{{ end }} {{ end }}