// ----------------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// ----------------------------------------------------------------------------------


header,
main,
#navbar {
  width: calc(100% - 12vw);
  max-width: $container;
  margin: 0 auto;
}

body .content {
  font-family: $family-primary;
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  color: $font-color;
}

main {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}