// -----------------------------------------------------------------------------
// This file contains all styles related to the article template.
// -----------------------------------------------------------------------------

#main-heading {
  border-bottom: 1px solid $grey-lighter;
}

article h1 {
  line-height: calc((var(--line-height-1)) * 0.85);
  padding-bottom: 0.3rem;
}

#bottom-meta {
  margin: $padding 0 0;
}

.meta a {
  text-decoration: none;
  text-transform: lowercase;
}

ul.meta {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.meta li {
  padding-top: 0.5rem;

  &::before {
    content: "\00B7";
    margin-right: 1ch;
    margin-left: -1ch;
  }

  &:first-child:before {
    content: "";
    margin-right: 0;
  }
}
