// -----------------------------------------------------------------------------
// This file contains all styles related to the article template.
// -----------------------------------------------------------------------------

#main-heading {
  border-bottom: 1px solid $grey-lighter;
}

article h1 {
  line-height: calc((var(--line-height-1)) * 0.85);
  padding-bottom: 0.3rem;
}

#bottom-meta {
  margin: $padding 0 0;
  display: flex;
  flex-direction: column;
}

#taxonomy {
  text-transform: lowercase;
}

#bottom-nav {
  display: flex;
  gap: 8.5vw;
  flex-direction: row;
  align-items: center;
  margin-top: $padding;
  line-height: 1;
}

#link-prev,
#link-next {
  flex-grow: 1;
  flex-basis: calc(100% / 2);
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  display: block;
  background-color: $secondary;
  border: $secondary;
  height: 9vh;
  padding: $padding/4;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#link-prev:hover,
#link-next:hover {
  background-color: var(--meta-color);
}

#link-prev,
#link-next {
  margin: 0;
  font-size: var(--font-size-smallest);
  color: $white;
}

#link-prev {
  text-align: left;
}

#link-next {
  text-align: right;
}

@include media("<smartphone") {
  #bottom-nav {
    flex-direction: column;
    gap: 1.5rem;
  }
  #link-prev,
  #link-next {
    width: 90%;
  }
  #link-prev:hover,
  #link-next:hover {
    width: 90%;
    background-color: unset;
  }
}

a.tag {
  text-decoration: none;
}

#taxonomy span a.tag {
  margin: 0 0.3rem 0 0;
}

.subtitle.tags {
  margin-top: 0.5rem;
}

/*.meta a {
  text-decoration: none;
}

ul.meta {
  display: flex;
  padding-left: 0;
  list-style: none;
}



.meta li {
  padding-top: 0.5rem;

  &::before {
    content: "\00B7";
    margin-right: 1ch;
    margin-left: -1ch;
  }

  &:first-child:before {
    content: "";
    margin-right: 0;
  }
}*/
