// -----------------------------------------------------------------------------
// This file contains all styles related to the home page template.
// -----------------------------------------------------------------------------
#statement,
#notable-posts,
#cv {
  padding: 0 $padding $padding;
  width: clamp((9.5 * $font-size-hero), 75%, 98vw);
  margin: 0 auto;
}

.hero p,
.hero p a {
  font-size: var(--font-size-hero);
  line-height: var(--line-height-hero);
}

.sub-hero p,
.sub-hero p a {
  font-size: calc($font-size-hero * 0.7);
  line-height: calc(var(--line-height-hero) * 0.8);
}

.hero p,
.hero p a,
.sub-hero p,
.sub-hero p a {
  font-weight: var(--font-weight-heading);
}

.hero-arrow {
  display: flex;
  margin: auto;
}
