// -----------------------------------------------------------------------------
// This file contains all styles related to the home page template.
// -----------------------------------------------------------------------------
.hero-text p,
.hero-text a {
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-hero);  
}