<figure class="player">
<media-player
  src="https://customer-j00pa75eocpcmpyc.cloudflarestream.com/{{ .Get "src" }}/manifest/video.m3u8"
  poster="https://customer-j00pa75eocpcmpyc.cloudflarestream.com/{{ .Get "src" }}/thumbnails/thumbnail.jpg?time={{ if .Get "thumb-time" }}{{ .Get "thumb-time" }}{{ else }}1{{ end }}s"
  controls
  aspect-ratio="16/9"
>
  <media-outlet></media-outlet>
</media-player>
{{ if .Get "caption" }}<figcaption>{{ .Get "caption" | markdownify }}</figcaption>{{ end }}
</figure>

